
{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}
<h3> Ads  </h3>
<a href="#"> <img src="{{ asset('bundles/bloggerblog/images/Ads1.png') }}" /></a>

<a href="#"> <img src="{{ asset('bundles/bloggerblog/images/Ads2.png') }}" /></a>

<a href="#"> <img src="{{ asset('bundles/bloggerblog/images/Ads3.jpg') }}" /></a>

{% endblock %}
 {% block navigation %}
                        <nav>	   
                   	
                            <ul class="navigation">
                                <li><a href="{{ path('_users_logout') }}">logout</a></li>
                            </ul>
                        </nav>
                    {% endblock %}