
{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
		{% render(controller("BloggerBlogBundle:Comment:show", { 'id' : comment.id, 'onuserId':onuserID})) %} 
		</header>		
    </article>
{% else %}

    <p>There are no comments for this post. Be the first to comment...</p>
{% endfor %}







