<div id= {{ pId}} > </div>


<form action="{{ path('comment_create', {'userId': uId ,'postId' : pId } ) }}" method="post" {{ form_enctype(form) }} >
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="comment" Id = {{pId}}>
    </p>
</form>

{# must be done using append bas bthabel f l show#}
{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript">
     $().ready(function() {
	
         $("form").submit(function(e) {
             e.preventDefault();
             var $url = $(this).attr('action');
             var $data = $(this).serialize();
             $.ajax({
                type: "POST",
                url: $url,
                data: $data
             }).done(function( result ) {
                if(result.success) {
                    $(result.idToUpdate).html((" <span> " + result.userFirstName +"&nbsp;" + result.userSecondName + "  commented &nbsp" + result.createTime +" <br/> </span>" +result.content));
                }
             });
         });
     });
     </script>
{% endblock %}


