<p><span class="highlight">   <a href="{{ path('_users_show', { 'uid': entity.ucid }) }}">{{ entity.user }}</a></span> commented <time datetime="{{ entity.createTime|date('c') }}">{{ entity.createTime|date('l, F j, Y') }}</time></p>
     
        <p>{{ entity.content }}</p>
		
		{% if checkacess %}
		<p> you can Edit comment from <a href="{{ path('comment_edit', { 'id': entity.id ,'onuserId':onuserId}) }}"  style="text-align: right;" > here </a>  </p>

		{{ form(delete_form) }}
		{% endif%}