{% extends 'BloggerBlogBundle::home.html.twig' %}

{% block body -%}


<div class="home">
<a href="{{ path('posts_new', { 'onuserID' : user.id }) }}"> <p>New Post</p></a>
</div>
	<img src="{{ asset('bundles/bloggerblog/images/example.jpg') }}" />

    <h1>Welcom {{ user.firstName }} {{ user.secondName }} </h1>
	<p> Email:{{user.Email }}</p>
	
<ul class="record_actions">
    
    <li>{{ form(delete_form) }}</li>
</ul>

  <ul class="record_actions">
    <li>
               <a href="{{ path('posts', { 'onuserID' : user.id }) }}"> Back</a>
        </a>
    </li>
</ul>
{% endblock %}
