

{% extends 'BloggerBlogBundle::home.html.twig' %}

{% block body %}
{% block Home %}

<div class="home">
<a href="{{ path('posts_new', { 'onuserID' : onuserID }) }}"> <p>New Post</p></a>
</div>

{% endblock %}

    {% for post in posts %}
		

		

		<article class="blog">
			<header>
			
				<div class="date"><time datetime="{{ post.createTime|date('c') }}">{{ post.createTime|date('l, F j, Y') }}</time></div>
				<h2>{{ post.title }}</h2>
		
			</header>
		  </article>  
		  <div>
				<p class="auther">	this post is written By  <a href="{{ path('_users_show', { 'uid': post.uId }) }}"> {{ post.user}}</a></p>
				
				<article class="blog">
				<p >{{ post.content }}</p>
				{% if post.checkAccess(onuserID) %}
				
					<p> you can Edit post from <a href="{{ path('posts_edit', { 'id': post.id,'onuserID':onuserID }) }}"  style="text-align: right;" > here </a>  </p> 
				{% endif %}
				   </article>  
			</div>
		</article>
		
		
		<section class="comments" id="comments">
			<section class="previous-comments">
				<h3>Comments</h3>
					<p> <a href="{{ path('posts_show', { 'id': post.id , 'onuserID':onuserID }) }}"> view all comments </a></p>
						
				<h3>Add New Comment</h3>
				{% render(controller("BloggerBlogBundle:Comment:new", { 'uId': onuserID , 'pId' : post.id})) %}

			</section>
		</section>
			
		{% else %}
		<p>There are no post in this blog. Be the first to add post...</p>
		
		{% endfor %}
	
{% endblock %}
