{% extends 'BloggerBlogBundle::home.html.twig' %}
{% block body %}
    <h1>Posts creation</h1>
<div class="blogger">
    {{ form(form) }}
</div>
   <ul class="record_actions">
    <li>
               <a href="{{ path('posts', { 'onuserID' : onuserID }) }}"> Home</a>
        </a>
    </li>
</ul>
{% endblock %}


