

{% extends 'BloggerBlogBundle::home.html.twig' %}


{% block title %}{{ entity.title }}{% endblock %}

{% block body %}

{% block Home %}

<div class="home">
<a href="{{ path('posts_new', { 'onuserID' : onuserID }) }}"> <h1>New Post</h1></a>
</div>

{% endblock %}
    <article class="blog">
        <header>
		
            <div class="date"><time datetime="{{ entity.createTime|date('c') }}">{{ entity.createTime|date('l, F j, Y') }}</time></div>
            <h2>{{ entity.title }}</h2>
	
        </header>
      </article>  
	  <div>
			<p class="auther">	this post is written By  <a href="{{ path('_users_show', { 'uid': entity.uId }) }}"> {{ entity.user}}</a></p>
			
			<article class="blog">
            <p >{{ entity.content }}</p>
			{% if canEditORDelete %}
			
				<p> you can Edit post from <a href="{{ path('posts_edit', { 'id': entity.id,'onuserID':onuserID }) }}"  style="text-align: right;" > here </a>  </p> 
				<p> press delete if you want delete post {{ form(delete_form) }}</p>
			{% endif %}
			   </article>  
        </div>
    </article>
	
	
	<section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
			
			{% if home %}
				<p> <a href="{{ path('posts_show', { 'id': entity.id , 'onuserID':onuserID }) }}"> view all comments </a></p>
					
			{% else  %}
				{% render(controller("BloggerBlogBundle:Comment:index", {  'pId' : entity.id, 'uId': onuserID})) %}
				
				
			{% endif %}
			<h3>Add New Comment</h3>
			{% render(controller("BloggerBlogBundle:Comment:new", { 'uId': onuserID , 'pId' : entity.id})) %}

        </section>
    </section>
	
	  <ul class="record_actions">
    <li>
               <a href="{{ path('posts', { 'onuserID' : onuserID }) }}"> Back </a>
        </a>
    </li>
</ul>
	
	
{% endblock %}


